.story-bookend {
  &_share-providers {
    padding: 0;
    margin: 0;
    display: block;
    li {
      display: inline-block;
      padding-right: 12px;

      img {
        width: 30px;
        height: 30px;
      }

      .md-checkbox {
        margin: 0;
        top: 5px;
        left: 3px;
      }
    }
  }

  &_components {
    display: block;
    &.flex {
      display: flex;
    }

    .btn-add-component {
      height: 40px !important;
      width: 40px !important;
    }

    ul.available-components {
      flex: 1;
      padding-left: 20px;
      margin: 0;
      li {
        list-style: none;
        display: flex;
        margin: 5px 0;

        .component-icon {
          width: 40px;
          height: 40px;
          background: $dark-gray;
          border-radius: 50%;
          margin-right: 10px;
          padding: 5px;
        }
        .component-name {
          padding: 10px;
          background: $dark-gray;
          border-radius: 5px;
        }
      }
    }
  }

}
