.story {

  .story-slide-view {
    height: calc(100vh - #{$header-height});
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .story-page-view {
    background-color: blue;
    height: $amp-height;
    margin: 0 auto;
    width: $amp-width;
  }


  .ck-editor {
    width: 100% !important;
  }
}

.story-left-sidebar {
  background: $light-gray;
  border-top: 1px solid #8a8a8a;
  height: calc(100vh - #{$header-height + $toolbar-height});
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: $amp-sidebar-width;
  z-index: 1;

  .sidebar-header {
    padding: 10px 0;

    .title {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .btn-more {
      float: right;
      cursor: pointer;
    }

    .page-tools {
      background: white;
      margin-top: 10px;
      position: absolute;
      padding: 10px;
      right: 10px;
      z-index: 100;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      li {
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #eee;
        }
      }
    }
  }


  .template-list {
    margin-top: 20px;
    margin-left: 19px;
    max-height: calc(100vh - #{$header-height + $toolbar-height + 160px});
    overflow-y: auto;
    overflow-x: hidden;

    .page-layer {
      position: relative;

      &::before {
        border-right: 3px dotted gray;
        bottom: 0;
        content: '';
        display: block;
        left: 6px;
        position: absolute;
        top: 0;
        width: 5px;
        z-index: -1;
      }

      .layer-template {
        padding-right: 10px;
        cursor: pointer;

        &:hover {
          background-color: #ccdcec;
          .btn-remove {
            display: block;
            margin-top: 5px;
          }
        }

        img.template-icon {
          width: 20px;
        }

        .template-name {
          display: inline-block;
          margin-left: 20px;
        }
      }

      .layer-elements {
        font-size: 13px;
        margin-left: 70px;

        .element {
          cursor: pointer;

          .element-grid-area {
            cursor: pointer;
          }

          .element-type {
            padding: 10px;
            cursor: pointer;

            &.selected, &:hover {
              background-color: #ccdcec;
              .btn-remove {
                display: block;
              }
            }

            span {
              min-width: 70px;
              display: inline-block;
              text-align: center;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
  .md-button {
    height: 40px !important;
    width: 40px !important;
  }

  .btn-remove {
    float: right;
    display: none;
    cursor: pointer;
  }
}

.story-right-sidebar {
  background: $light-gray;
  border-top: 1px solid #8a8a8a;
  height: calc(100vh - #{$header-height + $toolbar-height});
  right: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: $amp-sidebar-width;
  z-index: 1;

  .md-content {
    height: calc(100vh - #{$header-height + $toolbar-height} - 120px) !important;
    overflow: hidden;
    overflow-y: auto;
  }
}

.stories-list {
  .md-table {
    max-height: calc(100vh - 220px);
    overflow: hidden;
    overflow-y: auto;
  }
}