.btn-poss-new-item {
  position: fixed !important;
  right: 25px !important;
  bottom: 25px !important;
}

.label-poss-btn {
  line-height: 48px;
}

.md-icon:after {
  background: transparent !important;
}

iframe {
  height: 100% !important;
}