// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$light-black: #8a8a8a;
$light-gray: #eeeeee;
$light-blue: #0098a6;
$dark-gray: #d9d9d9;

$light-purple: #ccdcec;

// Navbar
$header-height: 70px;
$toolbar-height: 50px;

//dashboard
$dashboard-table-height-gap: 220px;

// sidebar
$sidebar-width: 220px;
$amp-sidebar-width: 450px;



// AMP page view
$amp-width: 360px;
$amp-height: 600px;