.app-header {
  background-color: $light-gray;
  border-bottom: 1px solid #8a8a8a;

  .navbar-brand {
    img {
      height: 40px;
      width: 40px;
    }
  }

  .app-dropdown-account {
    .md-avatar-icon {
      background-color: $light-blue !important;
    }
  }
}


