body {
  background-color: $dark-gray;
}

.app-body {
  background: $dark-gray;
}

.app-content {
  padding: 50px;
  position: relative;
}

.app-content.sidebar {
  width: calc(100vw - #{$sidebar-width});
  position: absolute;
  left: 220px;
}




@include media-breakpoint-down(md) {
  .app-content {
    padding: 10px;
  }
}