body {
  background-color: $dark-gray;
}

.app-body {
  background: $dark-gray;
}

.app-content {
  padding: 50px;
  position: relative;
}

.app-content.sidebar {
  width: calc(100vw - #{$sidebar-width});
  position: absolute;
  left: 220px;
}


.app-filter {
  background: $light-gray;
  padding-bottom: 3px;
  display: flex;

  .tab-navigation {
    flex: 2;
  }

  .tool-box {
    flex: 1;
    display: flex;
  }

  .search {
    flex: 4;
    .md-icon:after {
      background: none !important;
    }
  }

  .sort {
    flex: 1;
    width: 100%;
    margin-left: 10px;
    min-height: 48px;
    padding-top: 16px;
    display: flex;
    position: relative;
    font-family: inherit
  }
}
